<!-- Page Content -->
<div class="container">
  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <br>
      <div class="container">
        <br>
        <div class="row">
          <div class="col-lg-3">
            <div class="mb-lg-5">
              <img src="assets/cartago.jpg" class="premieres-format OnImage" />
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-lg-5">
              <img src="assets/sanjose.jpg" class="premieres-format OnImage" />
            </div>
          </div>

          <div class="col-lg-3">
            <div class="mb-lg-5">
              <img src="assets/limon.jpg" class="premieres-format OnImage" />
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-lg-5">
              <img src="assets/heredia.jpg" class="premieres-format OnImage" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-8 -->

          <div class="card col-lg-5">
            <div class="card-body text-center">

              <div class="col-lg-12">
                <h1 class="font-weight-light">Skyway</h1>
                <p>
                 Los vuelos con Skyway son a los destinos más emocionantes de Costa Rica, Panamá ¡Descubra el paraíso con Skyway y no pase sus vacaciones en una carretera llena de agujeros e infinidad de vehículos!
                </p>
              </div>
            </div>
          </div>


    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">
        "Reserva tu vuelo ahora"
      </p>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Historico de Vuelos <em class="fas fa-book-open"></em></h2>
          <p class="card-text">
            Revisa los vuelos en los que has estado
          </p>
        </div>

      </div>
    </div>
    <div class="col-md-6 mb-5" routerLink="booking/reservation">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">
            Reservar Vuelo <em class="fas fa-calendar-day"></em>
          </h2>
          <p class="card-text">
            Reserva un vuelo hacia la destino deseado
          </p>
        </div>

      </div>
    </div>

  </div>
  <br>
    <br>
    <br>
  <!-- /.row -->
</div>
